<center>
    <nav class="header-nav">
        <ul class="navigation-bar">
            <li><a href="/">HOME</a></li>
            <li><a href="/publications/">RESEARCH</a></li>
            <li><a href="/teaching/">TEACHING</a></li>
            <li><a href="/files/Dai_webCV2019.pdf">CV</a></li>
            <li><a href="http://comparativepoliticsgroup.org">CP Group</a></li>
            <li><a href="https://github.com/YaoyaoDai"><i class='fa fa-github-alt'></i></a></li>
            <li><a href="https://twitter.com/yaoyao_dai"><i class="fa fa-twitter"></i></a></li>
        </ul>
    </nav>
</center>
