<center>
    <nav class="header-nav">
        <ul class="navigation-bar">
            <li><a href="/">HOME</a></li>
            <li><a href="/publications/">RESEARCH</a></li>
            <li><a href="/teaching/">TEACHING</a></li>
            <li><a href="/files/Dai_webCV2019.pdf" target="_blank">CV</a></li>
            <li><a href="http://comparativepoliticsgroup.org" target="_blank">CP Group</a></li>
            <li><a href="https://populism.byu.edu" target="_blank">Team Populism</a></li>
            <li><a href="https://github.com/YaoyaoDai" target="_blank"><i class='fa fa-github-alt'></i></a></li>
            <li><a href="https://twitter.com/yaoyao_dai" target="_blank"><i class="fa fa-twitter"></i></a></li>
        </ul>
    </nav>
</center>
